th {
    color:blueviolet;
    }
.page-nav {
    color: green;
}
.section {
    background-color: lightgray;
    font-style: italic;
    }
td {
    background-color: lightyellow;
    font-size: larger;
    }